@model CartViewModel

@{
    ViewData["Title"] = "Cart";
}

<section class="row text-center">
    <div class="col-md-8 mx-auto">
        <h1 class="fw-light">Cart</h1>
    </div>
</section>

<div class="row g-2 py-3">

    <vc:summary />

    @if (Model?.Items is null)
    {
        <div class="alert alert-info" role="alert">
            Your cart is empty!
        </div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th class="col-lg-3" scope="col">Product</th>
                    <th class="col-lg-2" scope="col">Quantity</th>
                    <th class="col-lg-2 text-end" scope="col">Price</th>
                    <th class="col-lg-2 text-end" scope="col">Total</th>
                    <th class="col-lg-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            <a asp-controller="Showcase" asp-action="ProductDetails" asp-route-productid="@item.ProductId" class="link-info text-decoration-none">
                                @item.ProductName
                            </a>
                        </td>

                        <td>
                            <form asp-controller="Cart" asp-action="UpdateItem">
                                <input type="hidden" name="productId" value="@item.ProductId" />
                                <div class="input-group">
                                    <input type="number" class="form-control" name="quantity" aria-label="Quantity" aria-describedby="Quantity" value="@item.Quantity" />
                                    <button type="submit" class="btn btn-success">
                                        <span class="fas fa-sync"></span>
                                    </button>
                                </div>
                            </form>
                        </td>

                        <td class="text-end">
                            <span id="itemPrice">@item.Price.ToString("c")</span>
                        </td>

                        <td class="text-end">
                            <span id="itemTotal">@item.Total.ToString("c")</span>
                        </td>

                        <td class="text-end">
                            <form asp-controller="Cart" asp-action="RemoveItem">
                                <input type="hidden" name="productId" value="@item.ProductId" />
                                <button type="submit" class="btn btn-danger">
                                    <span class="fas fa-trash-alt me-1"></span>Remove
                                </button>
                            </form>
                        </td>
                    </tr>
                }

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" class="text-end">
                        <h6 id="cartSubtotal" class="fw-bold">Subtotal: @Model.Subtotal.ToString("c")</h6>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="2">
                        <form asp-controller="Cart" asp-action="SetVoucher">
                            <div class="input-group">
                                <input type="text" class="form-control" name="VoucherCode" placeholder="Voucher" aria-label="Voucher" aria-describedby="setVoucher"
                                       value="@Model.VoucherCode" />
                                <button type="submit" class="btn btn-success">
                                    <span class="fas fa-sync"></span>
                                </button>
                            </div>
                        </form>
                    </td>
                    <td colspan="1" class="text-end">
                        <h6 id="cartDiscount" class="fw-bold">Discount: @Model.Discount.ToString("c")</h6>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" class="text-end">
                        <h5 id="cartTotal" class="fw-bold">Total: @Model.Total.ToString("c")</h5>
                    </td>
                </tr>

                <tr>
                    <td colspan="5" class="text-end">
                        <a asp-controller="Showcase" asp-action="Index" class="btn btn-secondary p-3 mb-1" role="button">
                            <span class="fa fa-shopping-cart me-1"></span>Keep buying
                        </a>
                        <a asp-controller="Cart" asp-action="SummarizeOrder" class="btn btn-success p-3 mb-1" role="button">
                            <span class="fas fa-play me-1"></span>Checkout
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
