@model CartViewModel

@{
    ViewData["Title"] = "Summarize Order";
}

<section class="row text-center">
    <div class="col-md-8 mx-auto">
        <h1 class="fw-light">Order</h1>
    </div>
</section>

<div class="row g-2 py-3">

    <vc:summary />

    @if (Model?.Items is null)
    {
        <div class="alert alert-info" role="alert">
            Your cart is empty!
        </div>
    }
    else
    {
        <div class="col-md-4 order-md-2 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="d-flex justify-content-between align-items-center m-0">
                        Summary <span class="badge rounded-pill bg-secondary">@Model.Items.Count</span>
                    </h4>
                </div>

                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Items)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <div>@item.ProductName</div>
                                <small class="text-muted">@item.Quantity Units</small>
                            </div>
                            <span class="text-muted">
                                @item.Total.ToString("c")
                            </span>
                        </li>
                    }

                    @if (!string.IsNullOrEmpty(Model.VoucherCode))
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="m-0">Voucher</h5>
                                <small class="text-muted">@Model.VoucherCode</small>
                            </div>
                            <span class="fw-bold">
                                @Model.Discount.ToString("c")
                            </span>
                        </li>
                    }

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h5 class="m-0">Total</h5>
                        <span class="fw-bold">
                            @Model.Total.ToString("c")
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-8 order-md-1">
            <form class="row g-2 p-3" asp-controller="Cart" asp-action="StartOrder">
                <h4>Payment</h4>

                <hr>

                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Payment!.CardHolder" class="form-control" placeholder="Provide a card holder" />
                        <label asp-for="Payment!.CardHolder">Card Holder</label>
                        <span asp-validation-for="Payment!.CardHolder" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Payment!.CardNumber" class="form-control" placeholder="Provide a card number" />
                        <label asp-for="Payment!.CardNumber">Card Number</label>
                        <span asp-validation-for="Payment!.CardNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-floating">
                        <input asp-for="Payment!.CardExpiresOn" class="form-control" placeholder="Provide a card expires on" />
                        <label asp-for="Payment!.CardExpiresOn">Card Expires On</label>
                        <span asp-validation-for="Payment!.CardExpiresOn" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-floating">
                        <input asp-for="Payment!.CardCvv" class="form-control" placeholder="Provide a card CVV" />
                        <label asp-for="Payment!.CardCvv">Card CVV</label>
                        <span asp-validation-for="Payment!.CardCvv" class="text-danger"></span>
                    </div>
                </div>

                <hr class="mt-4">

                <button type="submit" class="btn btn-primary w-100">
                    Finalize Order
                </button>
            </form>
        </div>
    }

</div>
