@model CartViewModel

@{
    ViewData["Title"] = "Summarize Order";
}

<section class="row text-center">
    <div class="col-md-8 mx-auto">
        <h1 class="fw-light">Order</h1>
    </div>
</section>

<div class="row g-2 py-3">

    <vc:summary />

    @if (Model?.Items is null)
    {
        <div class="alert alert-info" role="alert">
            Your cart is empty!
        </div>
    }
    else
    {
        <div class="col-md-4 order-md-2 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="d-flex justify-content-between align-items-center m-0">
                        Summary <span class="badge rounded-pill bg-secondary">@Model.Items.Count()</span>
                    </h4>
                </div>

                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Items)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <div>@item.ProductName</div>
                                <small class="text-muted">@item.Quantity Units</small>
                            </div>
                            <span class="text-muted">
                                @item.Total.ToString("c")
                            </span>
                        </li>
                    }

                    @if (!string.IsNullOrEmpty(Model.VoucherCode))
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="m-0">Voucher</h5>
                                <small class="text-muted">@Model.VoucherCode</small>
                            </div>
                            <span class="fw-bold">
                                @Model.Discount.ToString("c")
                            </span>
                        </li>
                    }

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h5 class="m-0">Total</h5>
                        <span class="fw-bold">
                            @Model.Total.ToString("c")
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-8 order-md-1">
            <form class="row g-2 p-3" asp-controller="Cart" asp-action="StartOrder">
                <h4>Payment</h4>

                <hr>

                <div class="col-md-6">
                    <div class="form-floating">
                        <input class="form-control"
                               type="text"
                               id="CardHolder"
                               name="CardHolder"
                               placeholder="Provide a card holder"
                               data-val="true"
                               data-val-required="The card holder must be provided."
                               data-val-length-min="10"
                               data-val-length-max="100"
                               data-val-length="The card holder name must be between 10 and 100 characters."
                               autofocus />
                        <label for="CardHolder">Card Holder</label>
                        <span class="text-danger" data-valmsg-for="CardHolder" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <input class="form-control"
                               type="text"
                               id="CardNumber"
                               name="CardNumber"
                               placeholder="Provide a card number"
                               data-val="true"
                               data-val-required="The card number must be provided."
                               data-val-length-min="16"
                               data-val-length-max="16"
                               data-val-length="The card number must be 16 characters." />
                        <label for="CardNumber">Card Number</label>
                        <span class="text-danger" data-valmsg-for="CardNumber" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-floating">
                        <input class="form-control"
                               type="text"
                               id="CardExpiresOn"
                               name="CardExpiresOn"
                               placeholder="Provide a card expires on"
                               data-val="true"
                               data-val-required="The card expires on must be provided."
                               data-val-length-min="5"
                               data-val-length-max="5"
                               data-val-length="The card expires on must be 5 characters." />
                        <label for="CardExpiresOn">Card Expires On</label>
                        <span class="text-danger" data-valmsg-for="CardExpiresOn" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-floating">
                        <input class="form-control"
                               type="text"
                               id="CardCvv"
                               name="CardCvv"
                               placeholder="Provide a card CVV"
                               data-val="true"
                               data-val-required="The card CVV must be provided."
                               data-val-length-min="3"
                               data-val-length-max="3"
                               data-val-length="The card CVV must be 3 characters." />
                        <label for="CardCvv">Card CVV</label>
                        <span class="text-danger" data-valmsg-for="CardCvv" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <hr class="mt-4">

                <button type="submit" class="btn btn-primary w-100">
                    Finalize Order
                </button>
            </form>
        </div>
    }

</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationPartial");
    }
}
